.productDetailsContainer {
    display: flex;
    gap: 40px;
    max-width: 1600px;
    min-width: 1128px;
    margin: 20px auto 0;

    .productImages {

        width: 58%;

        img {
            width: 100%;

        }
    }

    .productDetails {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 42%;

        h1 {
            color: #020617;
            font-family: Poppins;
            font-size: 29px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            letter-spacing: -0.28px;
            margin: 0;
        }

        .description {
            color: #535665;
            padding: 5px 20px 8px 0;
            font-size: 20px;
            opacity: .8;
            font-weight: 400;
        }

        .lineBreak {
            width: 100%;
            height: 1px;
            background: rgba(0, 0, 0, 0.20);
            margin: 6px 0px;
        }

        .price {
            color: #282c3f;
            font-family: Poppins;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -0.72px;
            padding-top: 10px;

            .strike-through {
                color: #64748b;
                font-weight: 500;
                padding-left: 10px;
                text-decoration-line: line-through;
            }
        }

        .size {
            color: #475569;
            font-family: Poppins;
            font-size: 19px;
            font-style: normal;
            font-weight: 600;
            line-height: 170%;
            letter-spacing: -0.1296px;
            padding-bottom: 6.9984px;
            padding-top: 22px;
        }

        .sizeBtn {
            display: flex;
            gap: 15px;

            .sizeCircles {
                background-color: #fff;
                border: 1px solid #bfc0c6;
                border-radius: 50px;
                padding: 0;
                min-width: 50px;
                height: 50px;
                text-align: center;
                cursor: pointer;
                color: #282c3f;
                -webkit-box-flex: 0;
                outline-color: #ff3f6c;
            }

            .sizeCircles:hover {
                border: 1px solid #ff3f6c;
            }

            // .sizeCircles:focus {
            //     border: 1px solid #ff3f6c;
            // }
            .sizeCircles.selected {
                border: 1px solid #ff3f6c;
                background-color: #fff;
                color: #ff3f6c !important;

            }

            .sizeCircles.disabled {
                background-color: #f0f0f0;
                color: #aaa;
                border-color: #ddd;
                cursor: not-allowed;
            }

            .sizeCircles:active {
                transform: scale(0.95);
                border: 1px solid #ff3f6c;
            }
        }

        .addToCarBtn {
            display: flex;
            width: 136px;
            height: 43px;
            padding: 6.9px;
            justify-content: center;
            align-items: center;
            gap: 7px;
            border-radius: 3.98px;
            background: #ff3e6c;
            border: 1px solid #ff3e6c;
            margin-top: 20px;
            cursor: pointer;
            width: 58%;

            .addToCarText {
                color: #FFF;
                text-align: center;
                font-family: var(--font-family-sans, Poppins);
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                letter-spacing: -0.1296px;
                text-transform: capitalize;
            }
        }
    }
}